@use "function" as *;
@use 'variable' as *;

.head {
    @mixin Header($params: null) {
        font-size: 0.8rem;
        &-line {
            height: 1px;
            width: 100%;
            background-color: $colorLine;
        }
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:first-child {
                padding-top: 3rem;
                padding-bottom: 1rem;
            }
        }
        &-logo {
            &-wrap {
                cursor: pointer;
                img {
                    height: GetParam($params, logo_size_height, 75px);
                    width: auto;
                }
            }
        }
        &-menu-burger {
            display: flex;
            gap: 8px;
            align-items: center;
            height: 2rem;
            padding: 0 1rem;
            border-radius: 24px;
            border: 1px solid $colorBtn1;
            cursor: pointer;
            &:hover {
                background-color: $colorBtn1;
                color: $colorTextLight;
            }
        }

        &-contacts {
            > div {

                a {
                    padding: 4px;
                    color: $colorTextDark;
                    cursor: pointer;
                    &:hover {
                        color: $colorText2
                    }
                }
            }
        }
        &-offer {
            width: 200px;
            text-align: center;
            > a {
                padding: 0.5rem 1rem;
                border-radius: 16px;
                background-color: $colorBtn2;
                color: $colorTextLight;
                border: 1px solid $colorBtn2;
                &:hover {
                    background-color: transparent;
                    color: $colorText2;
                }
            }
        }

        &-menu-wrap {
            > a {
                padding: 1rem;
                color: $colorTextDark;
                cursor: pointer;
                &:hover {
                    color: $colorText1;
                }
            }
        }
    }



    @include MixScreen(null, $size4XL) { @include Header((logo_size_height: 50px)); }
    @include MixScreen($size4XL) { @include Header(()); }
}