@use "function" as *;
@use "variable" as *;

.footer {
    background-color: $colorBackgroundDark;
    > div {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    a {
        padding: 6px 0;
        color: $colorTextLight;
        &:hover {
            color: $colorTextAccent;
        }
    }
    &-links {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    &-contacts {
        text-align: end;
        > div:first-child {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
        }
        > div:last-child {
            width: 224px;
            color: $colorTextLight;
        }
    }
}