@use "sass:map";
@use 'function' as *;
@use 'variable' as *;

.carousel-wrap {
    @mixin Carousel($params: null) {
        margin-bottom: 80px;
        position: relative;
        overflow: hidden;
        .carousel-content {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: max-content;
            .card {
                height: GetParam($params, card_height, 250px);
                border-radius: 12px;
                cursor: pointer;
                color: $colorTextDark;

                display: flex;
                flex-direction: column;
                justify-content: end;
                &-prod {
                    background-color: $colorCardBackground;
                    position: relative;
                    overflow: hidden;
                    transition: 0.5s;
                    > div {
                        margin: auto 0 0;
                        height: 100%;
                        border: 1px solid transparent;
                        border-radius: 12px;
                        z-index: 1;
                        > div {
                            padding: 1rem 1.2rem;
                            font-size: 1.2rem;
                        }
                    }
                    width: GetParam($params, prod_card_width, 250px);
                    &:hover > div {
                        border: 1px solid red;
                    }
                }
                &-photo {
                    background-color: $colorBackgroundOpacity;
                    width: GetParam($params, photo_card_width, 420px);
                    padding: 1rem;
                    transition: 0.5s;
                    position: relative;
                    overflow: hidden;
                    &:hover {
                        background-color: transparent;
                    }
                    > div {
                        > div:first-child {
                            color: $colorTextLight;
                            margin-bottom: 1rem;
                        }
                        > div:last-child {
                            font-size: 0.8rem;
                            color: $colorText1;
                        }
                    }
                }

            }
        }
    }
    @include MixScreen(null, $sizeS) { @include Carousel((prod_card_width: 200px, card_height: 200px, photo_card_width: 200px)); }
    @include MixScreen($sizeS, $sizeM) { @include Carousel((prod_card_width: 200px, card_height: 200px, photo_card_width: 280px)); }
    @include MixScreen($sizeM, $size2XL) { @include Carousel((photo_card_width: 360px)); }
    @include MixScreen($size2XL) { @include Carousel(()); }
}