@use "sass:map";
@use 'function' as *;
@use 'variable' as *;

.footer {
    @mixin Footer($params: null) {
        background-color: $colorMain3;
        border-radius: 24px 24px 0 0 ;
        color: $colorTextLight;
        &-info {
            display: flex;
            justify-content: space-between;
            flex-direction: GetParam($params, wrap_flex_dir, null);
            padding: 3rem 0;
            > div {

            }
            &-logo {
                margin-bottom: 2rem;
                cursor: pointer;
                text-align: GetParam($params, text_align, null);
            }
            &-email {
                &-subtext {
                    margin-top: 4px;
                    font-size: 0.8rem;
                    text-align: GetParam($params, text_align, null);
                }
            }
            &-links {
                font-size: 1.1rem;
                display: grid;
                grid-template-columns: repeat(GetParam($params, links_grid, 2), 1fr);
                grid-row-gap: GetParam($params, links_row_gap, 0.5rem);
                grid-column-gap: 6rem;
                height: max-content;
                margin: GetParam($params, links_margin, auto);
                text-align: GetParam($params, text_align, null);
                > a {
                    padding: 4px;
                    color: $colorTextLight;
                    cursor: pointer;
                    &:hover {
                        color: $colorText1;
                    }
                }
            }
            &-number {
                font-size: GetParam($params, number_font_size, 2rem);
                text-align: center;
                > a {
                    color: $colorTextLight;
                    &:hover {
                        color: $colorText1;
                    }
                }
            }
            &-contacts {
                width: 60%;
                margin: 1rem auto;
                > a {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: $colorTextLight;
                    &:not(:last-child) {
                        margin-bottom: 0.5rem;
                    }
                    > div:first-child {
                        flex: none;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        border: 1px solid $colorBtn2;
                        background-size: 60%;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    > div:last-child {
                        opacity: 0.5;
                    }
                    &:hover {
                        > div:last-child {
                            opacity: 1;
                        }
                    }
                    &:first-child > div:first-child {
                        background-image: url("img/mail.png");
                    }
                    &:last-child > div:first-child {
                        background-image: url("img/map-point.png");
                    }
                }
            }
            &-social {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 60%;
                margin: auto;
                > a {
                    width: 2rem;
                    height: 2rem;
                    opacity: 0.5;
                    //border-radius: 8px;
                    //background-color: $colorGray;
                    > img {
                        width: 100%;
                        height: 100%;
                    }
                    &:hover {
                        opacity: 1;
                        //background-color: $colorBtn2;
                    }
                }
            }
        }
        &-bottom {
            border-top: 2px solid $colorLight;
            padding: 1rem 0;
            font-size: 0.8rem;
        }
    }

    @include MixScreen(null, $sizeL) { @include Footer((links_grid: 1, number_font_size: 1.2rem, text_align: center, wrap_flex_dir: column, links_margin: 1rem auto, links_row_gap: 4px)); }
    @include MixScreen($sizeL, $size2XL) { @include Footer((links_grid: 1, number_font_size: 1.2rem)); }
    @include MixScreen($size2XL, $size5XL) { @include Footer((links_grid: 1, number_font_size: 1.5rem)); }
    @include MixScreen($size5XL) { @include Footer(()); }
}