/* Colors */
$colorBlack                     : #000;
$colorLight                     : #FFF;
$colorLightGrey                 : #D1D1D1;
$colorGrey                      : #D9D9D9;
$colorDarker                    : #2E2E2E;
$colorAccent                    : #1477A7;
$colorAccentLight               : #2EA8EC;
$colorAccentLightMore           : #B0CEDC;
$colorBackground                : #E2E2E2;

$colorTextDark                  : $colorBlack;
$colorTextLight                 : $colorLight;
$colorTextLightGrey             : $colorLightGrey;
$colorTextLightHover            : $colorAccentLightMore;
$colorTextAccent                : $colorAccent;
$colorBtnAccent                 : $colorAccent;
$colorBtnAccentLight            : $colorAccentLight;
$colorBtnSecondary              : $colorGrey;
$colorBackgroundAccent          : $colorAccent;
$colorBackgroundAccentLight     : $colorAccentLight;
$colorBackgroundDark            : $colorDarker;
$colorBackgroundLight           : $colorLight;
$colorBackgroundAccent          : $colorAccent;
$colorBorderAccent              : $colorAccentLightMore;

/* Sizes */
$size3XS                        : 240;
$size2XS                        : 360;
$sizeXS                         : 420;
$sizeS                          : 480;
$sizeM                          : 560;
$sizeL                          : 680;
$sizeX                          : 760;
$sizeXL                         : 860;
$size2XL                        : 960;
$size3XL                        : 1080;
$size4XL                        : 1280;
$size5XL                        : 1480;
$size6XL                        : 1660;
$size7XL                        : 1920;
