@use "sass:map";
@use "variable" as *;
//@use "function" as *;

.filter {
    padding: 24px;
    margin-bottom: 48px;
    background-color: $colorBackgroundLight;
    border-radius: 10px;
    &-inputs {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 32px;
        &-group {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
    &-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

.input-wrap {
    > div {
        &:nth-child(1) {
            margin-bottom: 12px;
        }
        &:nth-child(2) {
            display: flex;
            gap: 12px;
            > input {
                width: 100%;
                background-color: transparent;
                border: 1px solid $colorBorderAccent;
                color: $colorTextDark;
                height: 30px;
                padding: 6px;
                border-radius: 4px;
                &:focus-visible {
                    outline: none;
                    border: 1px solid $colorBtnAccent;
                }
            }
        }
    }
}