@use "sass:map";
@use "variable" as *;
//@use "function" as *;

.pagination {
    &-wrap {
        display: flex;
        gap: 12px;
        justify-content: center;
        margin-bottom: 48px;
        text-align: center;
    }
    &-number {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 5px;
        background-color: $colorBtnSecondary;
        cursor: pointer;
        //padding: 16px;
        //color: $colorTextLight;
        &:hover {
            background-color: $colorTextLightGrey;
        }
        &.not-active {
            pointer-events: none;
            cursor: default;
            opacity: 0.5;
        }
    }
}