@use "sass:map";
@use "variable" as *;
//@use "function" as *;

.table-wrap {
    //flex: auto;
    width: 100%;
    background-color: $colorBackgroundLight;
    border-radius: 10px;
    overflow: hidden;
    //margin-bottom: 48px;
    height: max-content;
}

.table {
    overflow-x: auto;
    scrollbar-width: none;
    width: 100%;
    //position: relative;
    > table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 3px;
    }
    &-info {
        height: 70px;
        padding: 24px;
        display: flex;
        justify-content: space-between;
        > div:nth-child(1) {
            cursor: pointer;
            &:hover {
                color: $colorAccentLight;
            }
        }
    }
    &-head {
        background-color: $colorBackgroundAccentLight;
        height: 70px;
        color: $colorTextLight;
        font-size: 12px;
        font-weight: 700;
    }
    &-headrow {

    }
    &-headcell {
        width: 119px;
        padding: 0 20px;
        &.bordered {
            position: relative;
            height: 35px;
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                background-color: $colorBackgroundLight;
                left: 10px;
                right: 10px;
                bottom: 0;
            }
        }
    }

    &-row {
        position: relative;
        height: 85px;
        &.active {
            background-color: $colorBorderAccent;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $colorTextLightGrey;
        }
        &:hover {
            background-color: $colorBtnSecondary;
        }
    }
    &-cell {
        text-align: center;
        font-size: 12px;
        &:last-child {
            //display: flex;
            //flex-direction: column;
            //gap: 4px;
            //white-space: nowrap;
            //padding: 12px 24px;
        }
        .custom-value-field {
            background-color: $colorBackgroundLight;
            width: 120px;
        }
        &-manager {
            cursor: pointer;
            color: $colorAccentLight;
            &:hover {
                color: $colorTextAccent;
            }
        }
        &-link {
            width: 80%;
            height: 24px;
            background-image: url("/profile/resources/img/link.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
                background-image: url("/profile/resources/img/link-hover.svg");
            }
        }
    }
}


.table-secondary {
    table {
        background-color: #FFFFFF;
        width: 880px;
        max-width: 100%;
        margin-bottom: 1rem;
        border-collapse: collapse;
        thead {
            border-bottom: 1px solid #B0CEDC;
            font-size: 12px;
            color: #000;
            tr {
                th {
                    padding: 15px;
                    text-align: center;
                    vertical-align: center;
                    font-size: 13px;
                    max-width: 400px;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 12px;
                    text-align: center;
                    padding: 10px 10px;
                    border-bottom: 1px solid #B0CEDC;
                    max-width: 200px;
                }
            }
        }
    }

}

.table-row-secondary {
    border-bottom: 1px solid $colorTextLightGrey;
}

.expanded {
    display: flex;
    > div {
        padding: 16px;
        &:first-child {
            flex: none;
        }
        &.invoice-docs {
            flex: auto;
            background-color: $colorBackgroundTable;
            > div {
                //&:nth-child(1) {
                //    display: flex;
                //    gap: 8px;
                //    padding: 8px 16px;
                //    border: 1px solid $colorBtnAccent;
                //    width: fit-content;
                //    border-radius: 6px;
                //    align-items: center;
                //    cursor: pointer;
                //    margin-bottom: 16px;
                //    &:hover {
                //        color: $colorTextAccent;
                //    }
                //}
                &:last-child {
                    margin-top: 16px;
                }
            }
        }
    }
    &-documents {
        padding-bottom: 12px;
        border-bottom: 1px solid $colorBorderAccent;
        > div:nth-child(1) {
            font-weight: 600;
            padding-bottom: 12px;
        }
        > div:nth-child(2) {
            a {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                margin-bottom: 8px;
                gap: 4px;
                color: $colorTextDark;
                //align-items: center;
                &:hover {
                    color: $colorTextAccent;
                }
                > div:last-child {
                    margin-left: auto;
                }
            }
        }
    }
}

[data-column='dateDelivery'] {

    //display: none;
}
