@charset "UTF-8";
/* Colors */
/* Sizes */
/* Colors */
/* Sizes */
.header {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 60px;
  width: 100%;
  background-color: #2E2E2E;
  color: #D1D1D1;
}
.header a {
  color: #D1D1D1;
}
.header ul {
  margin: 0;
  padding: 0;
}
.header li {
  list-style-type: none;
}
.header-logo {
  flex: none;
  display: inline-block;
}
.header-logo img {
  width: auto;
  height: 24px;
}
.header-menu {
  flex: auto;
  font-size: 14px;
}
.header-menu > ul {
  display: flex;
  align-items: center;
}
.header-menu > ul > li a {
  padding: 22px 20px;
  cursor: pointer;
}
.header-menu .sub-li {
  position: relative;
}
.header-menu .sub-li .sub-ul {
  padding: 20px;
  color: #FFF;
  font-size: 14px;
}
.header-menu .sub-li .sub-ul > li a {
  color: white;
  padding: 4px;
}
.header-menu .sub-li .sub-ul > li a:hover {
  color: #B0CEDC;
}
.header-contacts {
  flex: none;
  display: flex;
  align-items: center;
}
.header-contacts-number {
  font-size: 14px;
  padding: 22px 20px;
}
.header-contacts-cities {
  position: relative;
}
.header-contacts-cities-btn {
  font-size: 14px;
  padding: 22px 20px;
}
.header-contacts-cities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  right: 0;
  padding: 20px 0;
}
.header-contacts-cities-grid > a {
  padding: 0 20px;
  font-size: 12px;
  color: #FFF;
  text-align: left;
  line-height: 1.6;
  white-space: nowrap;
}
.header-contacts-cities-grid > a:hover {
  color: #B0CEDC;
}
.header-contacts-cities-grid > a:not(:nth-child(3n+3)) {
  border-right: 1px solid white;
}

.drop-list {
  display: none;
  z-index: 2;
  position: absolute;
  top: 60px;
  background-color: #1477A7;
  border-radius: 0 0 5px 5px;
}
.drop-list.active {
  display: grid;
}

.btn-arrow::after {
  content: "";
  display: inline-block;
  margin-left: 12px;
  width: 9px;
  height: 5px;
  background: url(http://profile.fluid-line.loc/assets/svg/arrow.svg);
  transition: all 0.5s;
}
.btn-arrow.active {
  background-color: #1477A7;
}
.btn-arrow.active::after {
  rotate: -180deg;
}

/* Colors */
/* Sizes */
.footer {
  display: flex;
  align-items: center;
  background-color: #2E2E2E;
  gap: 130px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #D1D1D1;
}
.footer a {
  color: #D1D1D1;
}
.footer-logo {
  flex: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer-logo img {
  width: 198px;
  height: 50px;
}
.footer-contacts {
  flex: auto;
}
.footer-contacts > div:first-child {
  font-size: 20px;
}
.footer-contacts-info {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contacts-info-elem {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.footer-contacts-info-elem > a {
  text-align: end;
}
.footer-socials {
  flex: none;
  display: flex;
  gap: 24px;
}

/* Colors */
/* Sizes */
.filter {
  width: 20%;
  padding: 24px;
  background-color: #FFF;
  border-radius: 10px;
  height: max-content;
}
.filter-inputs-group {
  display: flex;
  flex-direction: column;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input-wrap > div:nth-child(1) {
  margin-bottom: 12px;
}
.input-wrap > div:nth-child(2) {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
/* Colors */
/* Sizes */
.table-wrap {
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
  height: max-content;
}

.table {
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
}
.table > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 3px;
}
.table-info {
  height: 70px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.table-head {
  background-color: #2EA8EC;
  height: 70px;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
}
.table-headcell {
  width: 119px;
  padding: 0 20px;
}
.table-headcell.bordered {
  position: relative;
  height: 35px;
}
.table-headcell.bordered::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: #FFF;
  left: 10px;
  right: 10px;
  bottom: 0;
}
.table-row {
  position: relative;
  height: 85px;
}
.table-row:not(:last-child) {
  border-bottom: 1px solid #D1D1D1;
}
.table-row:hover {
  background-color: #D1D1D1;
}
.table-cell {
  text-align: center;
  font-size: 12px;
}
.table-cell:last-child {
  padding: 12px 24px;
}
.table-cell .custom-value-field {
  background-color: #FFF;
  width: 120px;
}

.table-secondary table {
  background-color: #FFFFFF;
  width: 880px;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}
.table-secondary table thead {
  border-bottom: 1px solid #B0CEDC;
  font-size: 12px;
  color: #000;
}
.table-secondary table thead tr th {
  padding: 15px;
  text-align: center;
  vertical-align: center;
  font-size: 13px;
  max-width: 400px;
}
.table-secondary table tbody tr td {
  font-size: 12px;
  text-align: center;
  padding: 10px 10px;
  border-bottom: 1px solid #B0CEDC;
  max-width: 200px;
}

.table-row-secondary {
  border-bottom: 1px solid #D1D1D1;
}

.expanded {
  display: flex;
}
.expanded > div {
  padding: 16px;
}
.expanded > div.invoice-docs {
  background-color: #F5F5F5;
}
.expanded > div.invoice-docs > div:nth-child(1) {
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  border: 1px solid #1477A7;
  width: fit-content;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}
.expanded > div.invoice-docs > div:nth-child(1):hover {
  color: #1477A7;
}
.expanded > div.invoice-docs > div:nth-child(2) {
  padding-bottom: 12px;
  border-bottom: 1px solid #B0CEDC;
}
.expanded > div.invoice-docs > div:nth-child(2) > div:nth-child(1) {
  font-weight: 600;
  padding-bottom: 12px;
}
.expanded > div.invoice-docs > div:nth-child(2) > div:nth-child(2) a {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 8px;
  gap: 4px;
}
.expanded > div.invoice-docs > div:nth-child(2) > div:nth-child(2) a:hover {
  color: #1477A7;
}

/* Colors */
/* Sizes */
.select-wrap {
  margin-top: 8px;
  display: block;
  width: 100%;
  position: relative;
}
.select-wrap .new-select {
  border: 1px solid #B0CEDC;
  color: #000;
  padding: 6px;
  position: relative;
  user-select: none;
  border-radius: 4px;
  background-color: #FFF;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}
.select-wrap .new-select:not(.disabled) {
  cursor: pointer;
}
.select-wrap .new-select.not-active {
  pointer-events: none;
  opacity: 0.5;
}
.select-wrap .new-select:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 15px;
  bottom: 15px;
  background: url("../img/arrow-select.svg") no-repeat right center/cover;
  opacity: 0.6;
  background-size: contain;
  margin: auto;
  -webkit-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;
  transition: all 0.27s ease-in-out;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.select-wrap .new-select.on {
  border-radius: 4px 4px 0 0;
}
.select-wrap .new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select-wrap .new-select-list {
  border-bottom: 1px solid #B0CEDC;
  border-left: 1px solid #B0CEDC;
  border-right: 1px solid #B0CEDC;
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background-color: #FFF;
  user-select: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 15px 59px -17px rgba(0, 0, 0, 0.24);
  overflow-y: scroll;
  height: 114px;
}
.select-wrap .new-select-list::-webkit-scrollbar {
  width: 12px; /* ширина всей полосы прокрутки */
}
.select-wrap .new-select-list::-webkit-scrollbar-track {
  background: #D1D1D1; /* цвет зоны отслеживания */
  border-radius: 0 0 6px 0;
}
.select-wrap .new-select-list::-webkit-scrollbar-thumb {
  background-color: #FFF; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 3px solid #D1D1D1; /* отступ вокруг бегунка */
}
.select-wrap .new-select-list.on {
  display: block;
}
.select-wrap .new-select-list > div:last-child span {
  border-radius: 0 0 8px 8px;
}
.select-wrap .new-select-list-item {
  display: block;
  padding: 10px 15px;
}
.select-wrap .new-select-list-item:hover {
  background-color: #D1D1D1;
}

/* Colors */
/* Sizes */
.table-row.load::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: repeating-linear-gradient(to right, #FFF 0%, #2EA8EC 50%, #FFF 100%);
  background-size: 200% auto;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
* {
  box-sizing: border-box;
  font-family: "Intro", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 12px; /* ширина всей полосы прокрутки */
}
body::-webkit-scrollbar-track {
  background: #2E2E2E; /* цвет зоны отслеживания */
}
body::-webkit-scrollbar-thumb {
  background-color: #E2E2E2; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 3px solid #2E2E2E; /* отступ вокруг бегунка */
}

header {
  flex: none;
}

main {
  flex: auto;
  background-color: #E2E2E2;
}

footer {
  flex: none;
}

.hide {
  display: none;
}

.container {
  padding-left: 6%;
  padding-right: 6%;
}

.with-nav {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

h1 {
  color: #1477A7;
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  padding: 8px 16px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}
.btn.accent {
  color: #FFF;
  border-color: #2EA8EC;
  background-color: #2EA8EC;
}
.btn.accent:hover {
  color: #2EA8EC;
  background-color: transparent;
}
.btn.secondary {
  color: #000;
  border-color: #D9D9D9;
  background-color: #D9D9D9;
}

input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #B0CEDC;
  color: #000;
  height: 30px;
  padding: 6px;
  border-radius: 4px;
}
input:focus-visible {
  outline: none;
  border: 1px solid #1477A7;
}

/*# sourceMappingURL=main.css.map */
